In [2]:
import pandas as pd
import numpy as np

In [26]:
df = pd.read_csv('Meteorite Landing - Meteorite-Landings.csv')
df.head(50)

,Name,ID,NameType,Classification,Mass,Fall,Year,Coordinates
0,Aachen,1,Valid,L5,"Quantity[21, ""Grams""]",Fell,"DateObject[{1880}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{50.775, 6.08333}]"
1,Aarhus,2,Valid,H6,"Quantity[720, ""Grams""]",Fell,"DateObject[{1951}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{56.18333, 10.23333}]"
2,Abee,6,Valid,EH4,"Quantity[107000, ""Grams""]",Fell,"DateObject[{1952}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{54.21667, -113.}]"
3,Acapulco,10,Valid,Acapulcoite,"Quantity[1914, ""Grams""]",Fell,"DateObject[{1976}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{16.88333, -99.9}]"
4,Achiras,370,Valid,L6,"Quantity[780, ""Grams""]",Fell,"DateObject[{1902}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{-33.16667, -64.95}]"
5,Adhi Kot,379,Valid,EH4,"Quantity[4239, ""Grams""]",Fell,"DateObject[{1919}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{32.1, 71.8}]"
6,Adzhi-Bogdo (stone),390,Valid,LL3-6,"Quantity[910, ""Grams""]",Fell,"DateObject[{1949}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{44.83333, 95.16667}]"
7,Agen,392,Valid,H5,"Quantity[30000, ""Grams""]",Fell,"DateObject[{1814}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{44.21667, 0.61667}]"
8,Aguada,398,Valid,L6,"Quantity[1620, ""Grams""]",Fell,"DateObject[{1930}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{-31.6, -65.23333}]"
9,Aguila Blanca,417,Valid,L,"Quantity[1440, ""Grams""]",Fell,"DateObject[{1920}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{-30.86667, -64.55}]"
10,Aioun el Atrouss,423,Valid,Diogenite-pm,"Quantity[1000, ""Grams""]",Fell,"DateObject[{1974}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{16.39806, -9.57028}]"
11,AÃ¯r,424,Valid,L6,"Quantity[24000, ""Grams""]",Fell,"DateObject[{1925}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{19.08333, 8.38333}]"
12,Aire-sur-la-Lys,425,Valid,Unknown,"Missing[""NotAvailable""]",Fell,"DateObject[{1769}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{50.66667, 2.33333}]"
13,Akaba,426,Valid,L6,"Quantity[779, ""Grams""]",Fell,"DateObject[{1949}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{29.51667, 35.05}]"
14,Akbarpur,427,Valid,H4,"Quantity[1800, ""Grams""]",Fell,"DateObject[{1838}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{29.71667, 77.95}]"
15,Akwanga,432,Valid,H,"Quantity[3000, ""Grams""]",Fell,"DateObject[{1959}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{8.91667, 8.43333}]"
16,Akyumak,433,Valid,"Iron, IVA","Quantity[50000, ""Grams""]",Fell,"DateObject[{1981}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{39.91667, 42.81667}]"
17,Al Rais,446,Valid,CR2-an,"Quantity[160, ""Grams""]",Fell,"DateObject[{1957}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{24.41667, 39.51667}]"
18,Al Zarnkh,447,Valid,LL5,"Quantity[700, ""Grams""]",Fell,"DateObject[{2001}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{13.66033, 28.96}]"
19,Alais,448,Valid,CI1,"Quantity[6000, ""Grams""]",Fell,"DateObject[{1806}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{44.11667, 4.08333}]"
20,Albareto,453,Valid,L/LL4,"Quantity[2000, ""Grams""]",Fell,"DateObject[{1766}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{44.65, 11.01667}]"
21,Alberta,454,Valid,L,"Quantity[625, ""Grams""]",Fell,"DateObject[{1949}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{2., 22.66667}]"
22,Alby sur ChÃ©ran,458,Valid,Eucrite-mmict,"Quantity[252, ""Grams""]",Fell,"DateObject[{2002}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{45.82133, 6.01533}]"
23,Aldsworth,461,Valid,LL5,"Quantity[700, ""Grams""]",Fell,"DateObject[{1835}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{51.78333, -1.78333}]"
24,Aleppo,462,Valid,L6,"Quantity[3200, ""Grams""]",Fell,"DateObject[{1873}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{36.23333, 37.13333}]"
25,Alessandria,463,Valid,H5,"Quantity[908, ""Grams""]",Fell,"DateObject[{1860}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{44.88333, 8.75}]"
26,Alexandrovsky,465,Valid,H4,"Quantity[9251, ""Grams""]",Fell,"DateObject[{1900}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{50.95, 31.81667}]"
27,Alfianello,466,Valid,L6,"Quantity[228000, ""Grams""]",Fell,"DateObject[{1883}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{45.26667, 10.15}]"
28,Allegan,2276,Valid,H5,"Quantity[32000, ""Grams""]",Fell,"DateObject[{1899}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{42.53333, -85.88333}]"
29,Allende,2278,Valid,CV3,"Quantity[2000000, ""Grams""]",Fell,"DateObject[{1969}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{26.96667, -105.31667}]"
30,Almahata Sitta,48915,Valid,Ureilite-an,"Quantity[3950, ""Grams""]",Fell,"DateObject[{2008}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{20.74575, 32.41275}]"
31,Alta'ameem,2284,Valid,LL5,"Quantity[6000, ""Grams""]",Fell,"DateObject[{1977}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{35.27333, 44.21556}]"
32,Ambapur Nagla,2290,Valid,H5,"Quantity[6400, ""Grams""]",Fell,"DateObject[{1895}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{27.66667, 78.25}]"
33,Andhara,2294,Valid,Stone-uncl,"Quantity[2700, ""Grams""]",Fell,"DateObject[{1880}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{26.58333, 85.56667}]"
34,Andover,2295,Valid,L6,"Quantity[3200, ""Grams""]",Fell,"DateObject[{1898}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{44.61667, -70.75}]"
35,Andreevka,2296,Valid,L3,"Quantity[600, ""Grams""]",Fell,"DateObject[{1969}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{48.7, 37.5}]"
36,Andura,2298,Valid,H6,"Quantity[17900, ""Grams""]",Fell,"DateObject[{1939}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{20.88333, 76.86667}]"
37,Northwest Africa 5815,50693,Valid,L5,"Quantity[256.8, ""Grams""]",Found,"Missing[""NotAvailable""]","Missing[""NotAvailable""]"
38,Angers,2301,Valid,L6,"Missing[""NotAvailable""]",Fell,"DateObject[{1822}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{47.46667, -0.55}]"
39,Angra dos Reis (stone),2302,Valid,Angrite,"Quantity[1500, ""Grams""]",Fell,"DateObject[{1869}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{-22.96667, -44.31667}]"
40,Ankober,2304,Valid,H4,"Quantity[6500, ""Grams""]",Fell,"DateObject[{1942}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{9.53333, 39.71667}]"
41,Anlong,2305,Valid,H5,"Quantity[2500, ""Grams""]",Fell,"DateObject[{1971}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{25.15, 105.18333}]"
42,Aomori,2313,Valid,L6,"Quantity[320, ""Grams""]",Fell,"DateObject[{1984}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{40.81056, 140.78556}]"
43,Appley Bridge,2318,Valid,LL6,"Quantity[15000, ""Grams""]",Fell,"DateObject[{1914}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{53.58333, -2.71667}]"
44,Apt,2320,Valid,L6,"Quantity[3200, ""Grams""]",Fell,"DateObject[{1803}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{43.86667, 5.38333}]"
45,Arbol Solo,2325,Valid,H5,"Quantity[810, ""Grams""]",Fell,"DateObject[{1954}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{-33., -66.}]"
46,Archie,2329,Valid,H6,"Quantity[5070, ""Grams""]",Fell,"DateObject[{1932}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{38.5, -94.3}]"
47,Arroyo Aguiar,2340,Valid,H5,"Quantity[7450, ""Grams""]",Fell,"DateObject[{1950}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{-31.41667, -60.66667}]"
48,Asco,2345,Valid,H6,"Quantity[41, ""Grams""]",Fell,"DateObject[{1805}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{42.45, 9.03333}]"
49,Ash Creek,48954,Valid,L6,"Quantity[9500, ""Grams""]",Fell,"DateObject[{2009}, ""Year"", ""Gregorian"", -5.]","GeoPosition[{31.805, -97.01}]"

<h3>All missing values are 'Missing["Not Available"]'

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            45716 non-null  object
 1   ID              45716 non-null  int64
 2   NameType        45716 non-null  object
 3   Classification  45716 non-null  object
 4   Mass            45716 non-null  object
 5   Fall            45716 non-null  object
 6   Year            45716 non-null  object
 7   Coordinates     45716 non-null  object
dtypes: int64(1), object(7)
memory usage: 2.8+ MB

In [6]:
df.describe()

                 ID
count  45716.000000
mean   26889.735104
std    16860.683030
min        1.000000
25%    12688.750000
50%    24261.500000
75%    40656.750000
max    57458.000000

In [ ]:
df[['__mass_1__', '__mass_2__']] = df['Mass'].str.split(',', expand=True)
df[['__mass_1__', '__mass_2__']]
df['__mass_2__'].describe()

count         45585
unique            1
top        "Grams"]
freq          45585
Name: __mass_2__, dtype: object

<h3>Conclusion: All mass values are in Grams

In [49]:
mass_num = df['Mass'].str.extract(r'Quantity\[(\d+\.?\d*)').astype(float)
df['mass_num'] = mass_num
print('Series:\n', df['mass_num'], '\n')
print('Info:\n', df['mass_num'].info(), '\n')
print('Describe:\n', df['mass_num'].describe(), '\n')

Series:
 0            21.0
1           720.0
2        107000.0
3          1914.0
4           780.0
           ...
45711       172.0
45712        46.0
45713         3.3
45714      2167.0
45715       200.0
Name: mass_num, Length: 45716, dtype: float64

<class 'pandas.core.series.Series'>
RangeIndex: 45716 entries, 0 to 45715
Series name: mass_num
Non-Null Count  Dtype
--------------  -----
45585 non-null  float64
dtypes: float64(1)
memory usage: 357.3 KB
Info:
 None

Describe:
 count    4.558500e+04
mean     1.327808e+04
std      5.749889e+05
min      0.000000e+00
25%      7.200000e+00
50%      3.260000e+01
75%      2.026000e+02
max      6.000000e+07
Name: mass_num, dtype: float64

In [36]:
df[['__year_1__', '__year_2__']] = df['Year'].str.split(',', n=1, expand=True)
df[['__year_1__', '__year_2__']]
df['__year_2__'].describe()

count                          45424
unique                             1
top        "Year", "Gregorian", -5.]
freq                           45424
Name: __year_2__, dtype: object

<h3> Conclusion: All years are

In [39]:
year_num = df['Year'].str.extract(r'(\d{4})').astype(float)
df['year_num'] = year_num
df['year_num']

0        1880.0
1        1951.0
2        1952.0
3        1976.0
4        1902.0
          ...
45711    1990.0
45712    1999.0
45713    1939.0
45714    2003.0
45715    1976.0
Name: year_num, Length: 45716, dtype: float64